/* App.css */

/* Set the background color of the body to orange */
body {
  background-color: orange;
}

/* Style the header with a blue background and white text */
.App-header {
  background-color: blue;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Style the links in the header */
.navbar-nav .nav-link {
  color: white;
}

/* Style the product list container */
.product-list-container {
  background: linear-gradient(to bottom, orange, white);
  padding: 20px;
}

/* Style the product list */
.product-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the product item */
.product-item {
  width: 300px;
  margin: 0 10px 20px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background-color: navy;
  color: white;
}

.product-item:hover {
  transform: translateY(-5px);
}

/* Style the product details */
.product-details {
  padding: 10px;
  text-align: center;
}

.product-name {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: orange;
}

.product-price {
  margin: 10px 0;
  font-size: 1.1em;
  font-weight: bold;
  color: orange;
}

.add-to-cart-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: rgb(38, 172, 61);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-to-cart-button:hover {
  background-color: rgb(11, 238, 49);
}
